# Archive files
*.tar
*.zip
*.gzip
*.gz

# Data files
*.csv

# Generated figures
*.pdf
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# PyCharm configuration files
.idea

# Mac file systems
*.DS_Store

# Setup.py
.eggs
*.egg-info

